* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
a {
  color: inherit;
}
.topend {
  background-color: rgb(77, 75, 75);
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 100px;
  color: rgb(204, 121, 20);
}
nav ul {
  display: flex;
  justify-content: space-around;
}
#s1 {
  background-color: rgb(155, 138, 127);
  font-size: small;
}
#s2 {
  background-color: rgb(146, 106, 79);
  font-size: small;
  display: flex;
  align-items: center;
}
#s3 {
  background-color: rgb(155, 138, 127);
  font-size: small;
}
#s4 {
  background-color: rgb(146, 106, 79);
  font-size: small;
}
section,
h5,
b {
  padding: 20px;
}

section {
  display: flex;
  align-items: center;
}
#s1 img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
#s2a {
  width: 200px;
  height: auto;
  border: 5px solid rgb(204, 121, 20);
  border-radius: 10%;
  margin-right: 10px;
}
#s2b {
  width: 300px;
  height: auto;
  border: 5px solid rgb(204, 121, 20);
  border-radius: 10%;
  margin-right: 10px;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}
#Boutton {
  background-color: rgb(204, 121, 20);
  color: white;
  font-size: 16px;
  border-top-color: black;
  border-left-color: black;
  border-bottom: none;
  border-right: none;
  border-radius: 10px;
  cursor: pointer;
}

#Boutton:hover {
  background-color: white;
  color: rgb(204, 121, 20);
}
.recette {
  display: flex;
  justify-content: space-between;
}
.recette ul {
  flex: 1;
  margin: 10px;
  height: 350px;
  background-color: rgb(226, 112, 18);
}
#Menu {
  background-color: rgb(226, 112, 18);
  display: inline-block;
  padding: 20px;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
}
