* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
a {
  color: inherit;
}
.topend {
  background-color: rgb(77, 75, 75);
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 100px;
  color: rgb(204, 121, 20);
}
nav ul {
  display: flex;
  justify-content: space-around;
}
#s1 {
  background-color: rgb(155, 138, 127);
  font-size: small;
}
#s2 {
  background-color: rgb(146, 106, 79);
  font-size: small;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 45% 45%;
}
#s3 {
  background-color: rgb(155, 138, 127);
  font-size: small;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 20% 80%;
}
#s3 .recette h5 {
  grid-area: 1/2/2/3;
}

#s4 {
  background-color: rgb(146, 106, 79);
  font-size: small;
}
section,
h5,
b {
  padding: 20px;
}

section {
  display: flex;
  align-items: center;
}
#s1 img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
#Qui-sommes-nous {
  padding-bottom: 20px;
  grid-column: 1/2;
  grid-row: 1/2;
}
#s2a {
  width: 200px;
  height: auto;
  border: 5px solid rgb(204, 121, 20);
  border-radius: 10%;
  margin-right: 10px;
  grid-column: 1/2;
  grid-row: 2/3;
  justify-self: center;
}
#stxt1 {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: center;
}
#s2b {
  width: 300px;
  height: auto;
  border: 5px solid rgb(204, 121, 20);
  border-radius: 10%;
  margin-right: 10px;
  grid-column: 2/3;
  grid-row: 3/4;
  justify-self: center;
}
#stxt2 {
  grid-column: 1/2;
  grid-row: 3/4;
  justify-self: center;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}
#Boutton {
  background-color: rgb(204, 121, 20);
  color: white;
  font-size: 16px;
  border-top-color: black;
  border-left-color: black;
  border-bottom: none;
  border-right: none;
  border-radius: 10px;
  cursor: pointer;
}

#Boutton:hover {
  background-color: white;
  color: rgb(204, 121, 20);
}
.recette {
  display: flex;
  justify-content: space-between;
}
.recette ul {
  margin: 10px;
  height: 350px;
  background-color: rgb(226, 112, 18);
  list-style-type: disc;
  padding-left: 20px;
  grid-area: 2/2/6/6;
}

#Menu {
  background-color: rgb(226, 112, 18);
  display: inline-block;
  padding: 20px;
  border-radius: 50%;
  font-size: 24px;
  grid-column: 1 / -1;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}
